runner_user: gitlab-runner
runner_timezone: Asia/Jakarta
runner_host_user: samsul
runner_registration_token:
runner_concurrent: 1
runner_coordinator_url: https://gitlab.com/
runner_description:
runner_executor: docker
runner_docker_image: alpine
runner_tags:
  - dot
  - docker
runner_path: /usr/local/bin/gitlab-runner
additional:
    node_exporter:
        deploy: no
        version: 0.18.0
        arch: amd64
    docker_exporter:
       deploy: no
       port: 9323
    ctop:
        deploy: no
        version: 0.7.2
        arch: amd64
